################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Calculator/.vs/Calculator
/Calculator/Calculator/obj
/Calculator/TestProjectCalculator/obj/Debug/net6.0/TestProjectCalculator.csproj.AssemblyReference.cache
